html::-webkit-scrollbar {
    background-color: rgba(201, 55, 201, 0.6);
    width: 5px;
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: orange;
}

body {
    margin: 0px 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, #424345 0%, rgb(255, 81, 0) 50%);
    color: #fff;
}

h1 {
    text-shadow: 3px 3px 3px #aaa;
}

p {
    text-align: justify;
}

ol {
    text-align: justify;
}

a {
    color: aqua;
}